<h1>Create Artist Form</h1>
    <br>
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <%= error %><br>
        <% end %>
    <% end %>
<br>
<%= form_for @artist do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :age %>
    <%= f.number_field :age %><br>
    <%= f.submit %>
<% end %>